<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  {% if data %}
        {% for c in data %}
            <li>
                <img src={{ c.img }} />
                <p>{{ c.name }}<p>
                <p>{{ c.price }}</p>
                <p>{{ c.dis }}</p>
                <form action="" method="POST">
                    <button type="submit", name='ee', value={{ c.id }}>가격 추이</button>
                </form>
            </li>
        {% endfor %}
    {% else %}
        <p>no</p>
    {% endif %}
</body>
</html>